<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Book Your Space - Parking Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <button data-modal-target="#modal" class = "parking-button" id = "parking-button"> Parking Space</button>
    <div class ="modal" id="modal">
        <div class = "modal-header">
            <div class = "title">Space Info </div>
            <button data-close-button class = "close-button">&times;</button>
        </div>
        <div class="modal-body">
            <form action="/submit" method="POST">
                <div>
                    <label>What time:</label>
                    <input type="time" name="time">
                </div>
                <div>
                    <label>How many hours:</label>
                    <input type="number" name="hours" value="1">
                </div>
                <div>
                    <label>Date:</label>
                    <input type="date" name="date">
                </div>
                    <button type = "submit">Reserve Space</button>

            </form>
        </div>
    </div>
    <div id = "overlay"></div>
</body>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>