<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Parking Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('mainmenu') }}" class="nav-home">
            <img src="static/assets/homeicon.png" alt="Home">
        </a>
        <a href="{{ url_for('prevbookings') }}" class="nav-bookings">
            <img src="static/assets/calendaricon.png" alt="Previous bookings">
        </a>
    </div>

    <h1 class="title">Previous Bookings</h1>
</body>
</html>